In [1]:
import pandas as pd

In [2]:
path = "https://www.sectorspdr.com/sectorspdr/IDCO.Client.Spdrs.Index/Export/ExportCsv?symbol=xlf"
df = pd.read_csv(path, skiprows=1)

In [3]:
df.head()

,Symbol,Company Name,Index Weight,Last,Change,%Change,Volume,52 Week Range,Unnamed: 8
0,AFL,AFLAC Inc,0.88%,63.33,0.38,+0.60%,772.54 K,49.34 - 66.97,NaN
1,AIG,American Intl Group Inc,1.17%,61.87,0.84,+1.38%,2.62 M,44.54 - 63.54,NaN
2,AIZ,Assurant Inc,0.23%,178.25,1.83,+1.04%,158.74 K,139.71 - 176.54,NaN
3,ALL,Allstate Corp,0.88%,134.61,1.11,+0.83%,1.18 M,106.11 - 140.00,NaN
4,AMP,Ameriprise Financial Inc,0.78%,298.15,-2.67,-0.89%,263.91 K,219.18 - 332.37,NaN

In [4]:
#check data type of 'index weight', it's 'object'
df["Index Weight"].str.strip("%").astype(float)
df["IW"] = df["Index Weight"].str.strip("%").astype(float)

In [5]:
df

,Symbol,Company Name,Index Weight,Last,Change,%Change,Volume,52 Week Range,Unnamed: 8,IW
0,AFL,AFLAC Inc,0.88%,63.33,0.38,+0.60%,772.54 K,49.34 - 66.97,NaN,0.88
1,AIG,American Intl Group Inc,1.17%,61.87,0.84,+1.38%,2.62 M,44.54 - 63.54,NaN,1.17
2,AIZ,Assurant Inc,0.23%,178.25,1.83,+1.04%,158.74 K,139.71 - 176.54,NaN,0.23
3,ALL,Allstate Corp,0.88%,134.61,1.11,+0.83%,1.18 M,106.11 - 140.00,NaN,0.88
4,AMP,Ameriprise Financial Inc,0.78%,298.15,-2.67,-0.89%,263.91 K,219.18 - 332.37,NaN,0.78
...,...,...,...,...,...,...,...,...,...,...
62,CBOE,"Cboe Global Markets, Inc",0.29%,116.23,-0.57,-0.49%,188.06 K,96.27 - 139.00,NaN,0.29
63,BRO,Brown & Brown Inc,0.38%,69.61,0.02,+0.03%,550.09 K,44.54 - 70.75,NaN,0.38
64,FDS,FactSet Research System Inc,0.38%,433.60,-5.55,-1.26%,143.96 K,304.07 - 495.40,NaN,0.38
65,SBNY,Signature Bank NY,0.44%,307.52,-5.14,-1.64%,391.72 K,206.07 - 374.76,NaN,0.44
66,WTW,Willis Towers Watson PLC,0.68%,232.43,-3.58,-1.51%,380.82 K,199.78 - 271.87,NaN,0.68

In [6]:
df["Index Weight"] = df["Index Weight"].apply(lambda x : float(x.strip("%")))

In [7]:
df["Index Weight"].dtype

dtype('float64')

In [8]:
df.head(20)

,Symbol,Company Name,Index Weight,Last,Change,%Change,Volume,52 Week Range,Unnamed: 8,IW
0,AFL,AFLAC Inc,0.88,63.33,0.38,+0.60%,772.54 K,49.34 - 66.97,NaN,0.88
1,AIG,American Intl Group Inc,1.17,61.87,0.84,+1.38%,2.62 M,44.54 - 63.54,NaN,1.17
2,AIZ,Assurant Inc,0.23,178.25,1.83,+1.04%,158.74 K,139.71 - 176.54,NaN,0.23
3,ALL,Allstate Corp,0.88,134.61,1.11,+0.83%,1.18 M,106.11 - 140.00,NaN,0.88
4,AMP,Ameriprise Financial Inc,0.78,298.15,-2.67,-0.89%,263.91 K,219.18 - 332.37,NaN,0.78
5,AON,Aon plc,1.62,320.58,2.20,+0.69%,826.96 K,221.82 - 326.25,NaN,1.62
6,AXP,American Express Co,2.76,189.70,-1.02,-0.53%,1.87 M,135.13 - 199.55,NaN,2.76
7,BAC,Bank of America Corp,7.12,42.78,-0.12,-0.28%,27.50 M,36.51 - 50.11,NaN,7.12
8,BEN,Franklin Resources Inc,0.18,27.55,-0.37,-1.33%,1.63 M,26.45 - 38.27,NaN,0.18
9,BK,The Bank of New York Mellon Corp,0.92,52.06,-0.24,-0.46%,2.48 M,44.20 - 64.63,NaN,0.92
10,BLK,BlackRock Inc,2.43,732.21,-6.38,-0.86%,261.64 K,660.15 - 973.16,NaN,2.43
11,BRK.b,Berkshire Hathaway B,14.45,349.12,6.71,+1.96%,4.01 M,246.79 - 346.87,NaN,14.45
12,CB,Chubb Limited,2.10,211.90,0.39,+0.18%,863.28 K,155.08 - 212.18,NaN,2.10
13,CINF,Cincinnati Financial Corp,0.44,130.56,2.62,+2.05%,318.55 K,102.18 - 133.33,NaN,0.44
14,CMA,Comerica Inc (MI),0.29,93.87,-1.08,-1.14%,597.86 K,63.07 - 102.09,NaN,0.29
15,CME,CME Group Inc A,2.07,250.83,1.23,+0.49%,631.92 K,185.79 - 256.94,NaN,2.07
16,C,Citigroup Inc,2.62,57.01,-0.34,-0.59%,14.66 M,53.83 - 80.29,NaN,2.62
17,COF,Capital One Financial,1.36,135.23,-2.98,-2.16%,2.06 M,121.21 - 177.95,NaN,1.36
18,DFS,Discover Financial Services,0.78,112.93,-2.91,-2.51%,1.00 M,89.83 - 135.69,NaN,0.78
19,FITB,Fifth Third Bancorp (OH),0.74,46.31,-0.38,-0.81%,2.84 M,34.35 - 50.64,NaN,0.74

In [9]:
#volume number of shares that changed hands during that day
#calculate the sum of the volume column, some numbers have K and others have M
def strNumbers(x):
    if "M" in x:
        print("Yes")

In [10]:
#test function
strNumbers("2.03M")

Yes

In [11]:
#It works!!!!

In [12]:
def strNumbers(x):
    if "M" in x:
        string = x.strip("M")
        print("Yes")

In [13]:
strNumbers("2.03 M")

Yes

In [14]:
#It ALSO works!!!!

In [15]:
def strNumbers(x):
    if "M" in x:
        string = x.strip("M")
        number = float(string)
        number = number * 1000000
        print(number)

In [16]:
strNumbers("2.03 M")

2029999.9999999998

In [17]:
def strNumbers(x):
    if "M" in x:
        string = x.strip("M")
        number = float(string)
        number = number * 1000000
        
    else:   
        string = x.strip("K")
        number = float(string)
        number = number * 1000
    return number

In [18]:
strNumbers('169.34 K')

169340.0

In [19]:
df["FunVolume"] = df["Volume"].apply(strNumbers)

In [20]:
df

,Symbol,Company Name,Index Weight,Last,Change,%Change,Volume,52 Week Range,Unnamed: 8,IW,FunVolume
0,AFL,AFLAC Inc,0.88,63.33,0.38,+0.60%,772.54 K,49.34 - 66.97,NaN,0.88,772540.0
1,AIG,American Intl Group Inc,1.17,61.87,0.84,+1.38%,2.62 M,44.54 - 63.54,NaN,1.17,2620000.0
2,AIZ,Assurant Inc,0.23,178.25,1.83,+1.04%,158.74 K,139.71 - 176.54,NaN,0.23,158740.0
3,ALL,Allstate Corp,0.88,134.61,1.11,+0.83%,1.18 M,106.11 - 140.00,NaN,0.88,1180000.0
4,AMP,Ameriprise Financial Inc,0.78,298.15,-2.67,-0.89%,263.91 K,219.18 - 332.37,NaN,0.78,263910.0
...,...,...,...,...,...,...,...,...,...,...,...
62,CBOE,"Cboe Global Markets, Inc",0.29,116.23,-0.57,-0.49%,188.06 K,96.27 - 139.00,NaN,0.29,188060.0
63,BRO,Brown & Brown Inc,0.38,69.61,0.02,+0.03%,550.09 K,44.54 - 70.75,NaN,0.38,550090.0
64,FDS,FactSet Research System Inc,0.38,433.60,-5.55,-1.26%,143.96 K,304.07 - 495.40,NaN,0.38,143960.0
65,SBNY,Signature Bank NY,0.44,307.52,-5.14,-1.64%,391.72 K,206.07 - 374.76,NaN,0.44,391720.0
66,WTW,Willis Towers Watson PLC,0.68,232.43,-3.58,-1.51%,380.82 K,199.78 - 271.87,NaN,0.68,380820.0

In [21]:
df["LambdaVolume"] = df["Volume"].apply(lambda x : float(x.strip("M"))*1000000 if "M" in x else float(x.strip("K"))*1000)

In [22]:
df["LamVolm"] = df["Volume"].apply(lambda x : float(x.strip("M"))*1000000 if "M" in x else float(x.strip("K"))*1000)

In [23]:
df["FunVolume"].sum() == df["LambdaVolume"].sum()

True

In [24]:
df

,Symbol,Company Name,Index Weight,Last,Change,%Change,Volume,52 Week Range,Unnamed: 8,IW,FunVolume,LambdaVolume,LamVolm
0,AFL,AFLAC Inc,0.88,63.33,0.38,+0.60%,772.54 K,49.34 - 66.97,NaN,0.88,772540.0,772540.0,772540.0
1,AIG,American Intl Group Inc,1.17,61.87,0.84,+1.38%,2.62 M,44.54 - 63.54,NaN,1.17,2620000.0,2620000.0,2620000.0
2,AIZ,Assurant Inc,0.23,178.25,1.83,+1.04%,158.74 K,139.71 - 176.54,NaN,0.23,158740.0,158740.0,158740.0
3,ALL,Allstate Corp,0.88,134.61,1.11,+0.83%,1.18 M,106.11 - 140.00,NaN,0.88,1180000.0,1180000.0,1180000.0
4,AMP,Ameriprise Financial Inc,0.78,298.15,-2.67,-0.89%,263.91 K,219.18 - 332.37,NaN,0.78,263910.0,263910.0,263910.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,CBOE,"Cboe Global Markets, Inc",0.29,116.23,-0.57,-0.49%,188.06 K,96.27 - 139.00,NaN,0.29,188060.0,188060.0,188060.0
63,BRO,Brown & Brown Inc,0.38,69.61,0.02,+0.03%,550.09 K,44.54 - 70.75,NaN,0.38,550090.0,550090.0,550090.0
64,FDS,FactSet Research System Inc,0.38,433.60,-5.55,-1.26%,143.96 K,304.07 - 495.40,NaN,0.38,143960.0,143960.0,143960.0
65,SBNY,Signature Bank NY,0.44,307.52,-5.14,-1.64%,391.72 K,206.07 - 374.76,NaN,0.44,391720.0,391720.0,391720.0
66,WTW,Willis Towers Watson PLC,0.68,232.43,-3.58,-1.51%,380.82 K,199.78 - 271.87,NaN,0.68,380820.0,380820.0,380820.0

In [25]:
df["YN"] = df.apply(lambda d : "Yes" if  d["FunVolume"] ==d["LambdaVolume"] else "No" , axis=1)

In [26]:
df[df["YN"] == "No"]

Empty DataFrame
Columns: [Symbol, Company Name, Index Weight, Last, Change, %Change, Volume, 52 Week Range, Unnamed: 8, IW, FunVolume, LambdaVolume, LamVolm, YN]
Index: []

In [27]:
#Ex
#Split "52 Week Range" into 2 columns Low and High and get the difference btw the highest point
#and the lowest point for ea stock, and save results under column named "Difference"

In [28]:
df.head()

,Symbol,Company Name,Index Weight,Last,Change,%Change,Volume,52 Week Range,Unnamed: 8,IW,FunVolume,LambdaVolume,LamVolm,YN
0,AFL,AFLAC Inc,0.88,63.33,0.38,+0.60%,772.54 K,49.34 - 66.97,NaN,0.88,772540.0,772540.0,772540.0,Yes
1,AIG,American Intl Group Inc,1.17,61.87,0.84,+1.38%,2.62 M,44.54 - 63.54,NaN,1.17,2620000.0,2620000.0,2620000.0,Yes
2,AIZ,Assurant Inc,0.23,178.25,1.83,+1.04%,158.74 K,139.71 - 176.54,NaN,0.23,158740.0,158740.0,158740.0,Yes
3,ALL,Allstate Corp,0.88,134.61,1.11,+0.83%,1.18 M,106.11 - 140.00,NaN,0.88,1180000.0,1180000.0,1180000.0,Yes
4,AMP,Ameriprise Financial Inc,0.78,298.15,-2.67,-0.89%,263.91 K,219.18 - 332.37,NaN,0.78,263910.0,263910.0,263910.0,Yes

In [29]:
df["52 Week Range"].str.split("-")

0       [49.34 ,  66.97]
1       [44.54 ,  63.54]
2     [139.71 ,  176.54]
3     [106.11 ,  140.00]
4     [219.18 ,  332.37]
             ...
62     [96.27 ,  139.00]
63      [44.54 ,  70.75]
64    [304.07 ,  495.40]
65    [206.07 ,  374.76]
66    [199.78 ,  271.87]
Name: 52 Week Range, Length: 67, dtype: object

In [30]:
df["52 Week Range"].str.split("-").apply(lambda x : float(x[0]))

0      49.34
1      44.54
2     139.71
3     106.11
4     219.18
       ...
62     96.27
63     44.54
64    304.07
65    206.07
66    199.78
Name: 52 Week Range, Length: 67, dtype: float64

In [31]:
df["Low"] = df["52 Week Range"].str.split("-").apply(lambda x : float(x[0]))

In [32]:
#low has been added
df

,Symbol,Company Name,Index Weight,Last,Change,%Change,Volume,52 Week Range,Unnamed: 8,IW,FunVolume,LambdaVolume,LamVolm,YN,Low
0,AFL,AFLAC Inc,0.88,63.33,0.38,+0.60%,772.54 K,49.34 - 66.97,NaN,0.88,772540.0,772540.0,772540.0,Yes,49.34
1,AIG,American Intl Group Inc,1.17,61.87,0.84,+1.38%,2.62 M,44.54 - 63.54,NaN,1.17,2620000.0,2620000.0,2620000.0,Yes,44.54
2,AIZ,Assurant Inc,0.23,178.25,1.83,+1.04%,158.74 K,139.71 - 176.54,NaN,0.23,158740.0,158740.0,158740.0,Yes,139.71
3,ALL,Allstate Corp,0.88,134.61,1.11,+0.83%,1.18 M,106.11 - 140.00,NaN,0.88,1180000.0,1180000.0,1180000.0,Yes,106.11
4,AMP,Ameriprise Financial Inc,0.78,298.15,-2.67,-0.89%,263.91 K,219.18 - 332.37,NaN,0.78,263910.0,263910.0,263910.0,Yes,219.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,CBOE,"Cboe Global Markets, Inc",0.29,116.23,-0.57,-0.49%,188.06 K,96.27 - 139.00,NaN,0.29,188060.0,188060.0,188060.0,Yes,96.27
63,BRO,Brown & Brown Inc,0.38,69.61,0.02,+0.03%,550.09 K,44.54 - 70.75,NaN,0.38,550090.0,550090.0,550090.0,Yes,44.54
64,FDS,FactSet Research System Inc,0.38,433.60,-5.55,-1.26%,143.96 K,304.07 - 495.40,NaN,0.38,143960.0,143960.0,143960.0,Yes,304.07
65,SBNY,Signature Bank NY,0.44,307.52,-5.14,-1.64%,391.72 K,206.07 - 374.76,NaN,0.44,391720.0,391720.0,391720.0,Yes,206.07
66,WTW,Willis Towers Watson PLC,0.68,232.43,-3.58,-1.51%,380.82 K,199.78 - 271.87,NaN,0.68,380820.0,380820.0,380820.0,Yes,199.78

In [33]:

df['Low'] = df['Low'].astype(float)
df['High'] = df['52 Week Range'].apply(lambda x : x[x.find("-")+1:])
df['High'] = df['High'].astype(float)
df['Difference'] = df['High'] - df['Low']
df.head()

,Symbol,Company Name,Index Weight,Last,Change,%Change,Volume,52 Week Range,Unnamed: 8,IW,FunVolume,LambdaVolume,LamVolm,YN,Low,High,Difference
0,AFL,AFLAC Inc,0.88,63.33,0.38,+0.60%,772.54 K,49.34 - 66.97,NaN,0.88,772540.0,772540.0,772540.0,Yes,49.34,66.97,17.63
1,AIG,American Intl Group Inc,1.17,61.87,0.84,+1.38%,2.62 M,44.54 - 63.54,NaN,1.17,2620000.0,2620000.0,2620000.0,Yes,44.54,63.54,19.00
2,AIZ,Assurant Inc,0.23,178.25,1.83,+1.04%,158.74 K,139.71 - 176.54,NaN,0.23,158740.0,158740.0,158740.0,Yes,139.71,176.54,36.83
3,ALL,Allstate Corp,0.88,134.61,1.11,+0.83%,1.18 M,106.11 - 140.00,NaN,0.88,1180000.0,1180000.0,1180000.0,Yes,106.11,140.00,33.89
4,AMP,Ameriprise Financial Inc,0.78,298.15,-2.67,-0.89%,263.91 K,219.18 - 332.37,NaN,0.78,263910.0,263910.0,263910.0,Yes,219.18,332.37,113.19