In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\Sasa\Downloads\phone_data.csv"
df = pd.read_csv(path)

In [3]:
df.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [4]:
df.shape
#830 rows
#7 columns

(830, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         830 non-null    int64
 1   date          830 non-null    object
 2   duration      830 non-null    float64
 3   item          830 non-null    object
 4   month         830 non-null    object
 5   network       830 non-null    object
 6   network_type  830 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 45.5+ KB

In [6]:
df.isna()

     index   date  duration   item  month  network  network_type
0    False  False     False  False  False    False         False
1    False  False     False  False  False    False         False
2    False  False     False  False  False    False         False
3    False  False     False  False  False    False         False
4    False  False     False  False  False    False         False
..     ...    ...       ...    ...    ...      ...           ...
825  False  False     False  False  False    False         False
826  False  False     False  False  False    False         False
827  False  False     False  False  False    False         False
828  False  False     False  False  False    False         False
829  False  False     False  False  False    False         False

[830 rows x 7 columns]

In [7]:
#are there any missing values and which column
df.isna().any()

index           False
date            False
duration        False
item            False
month           False
network         False
network_type    False
dtype: bool

In [8]:
#missing values w/in a column
df.isna().sum()

index           0
date            0
duration        0
item            0
month           0
network         0
network_type    0
dtype: int64

In [9]:
df.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [10]:
#returns all unique info
df["item"].unique()

array(['data', 'call', 'sms'], dtype=object)

In [11]:
df["network"].unique()

array(['data', 'Vodafone', 'Meteor', 'Tesco', 'Three', 'voicemail',
       'landline', 'special', 'world'], dtype=object)

In [12]:
#Groupby
#How many phone calls made in certain months
df["month"].unique()

array(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'],
      dtype=object)

In [13]:
df.groupby("month").groups.keys()

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

In [14]:
df

     index            date  duration  item    month   network network_type
0        0  15/10/14 06:58    34.429  data  2014-11      data         data
1        1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2        2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3        3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4        4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
..     ...             ...       ...   ...      ...       ...          ...
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [15]:
df.groupby("month").count()

         index  date  duration  item  network  network_type
month
2014-11    230   230       230   230      230           230
2014-12    157   157       157   157      157           157
2015-01    205   205       205   205      205           205
2015-02    137   137       137   137      137           137
2015-03    101   101       101   101      101           101

In [16]:
df.groupby("month")["date"].count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: date, dtype: int64

In [17]:
df.groupby("month")["date"].first()

month
2014-11    15/10/14 06:58
2014-12    13/11/14 06:58
2015-01    13/12/14 06:58
2015-02    13/01/15 06:58
2015-03    12/02/15 20:15
Name: date, dtype: object

In [18]:
#How many minutes we spend on the phone each month
df.groupby("month")["duration"].sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [19]:
#By calls
df[df["item"] == "call"].groupby("network")["duration"].sum()

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [20]:
df.groupby(["month", "item"])["date"].count()

month    item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: date, dtype: int64

In [21]:
df.groupby(["month", "network_type"])["date"].count()

month    network_type
2014-11  data             29
         landline          5
         mobile          189
         special           1
         voicemail         6
2014-12  data             30
         landline          7
         mobile          108
         voicemail         8
         world             4
2015-01  data             31
         landline         11
         mobile          160
         voicemail         3
2015-02  data             31
         landline          8
         mobile           90
         special           2
         voicemail         6
2015-03  data             29
         landline         11
         mobile           54
         voicemail         4
         world             3
Name: date, dtype: int64